name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Run maximize-build-space
      uses: easimon/maximize-build-space@master
      with:
        remove-android: 'true'
        remove-dotnet: 'true'
        remove-haskell: 'true'

    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Configure git
      run: |
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"

    - name: Install repo
      run: |
        wget https://storage.googleapis.com/git-repo-downloads/repo -O /usr/local/bin/repo
        chmod +x /usr/local/bin/repo

    - name: Sync androidx-main
      run: |
        mkdir androidx-main
        cd androidx-main
        repo init -u https://android.googlesource.com/platform/manifest -b androidx-main --depth=1
        repo sync -j16

    - name: Remove .repo/project-objects/platform/prebuilts/androidx to save some space
      working-directory: androidx-main
      run: rm -rf .repo/project-objects/platform/prebuilts/androidx

    - name: Apply patches
      working-directory: androidx-main
      run: |
        pushd frameworks/support
        git fetch aosp a5d48fc5725f8aac203c2ae3bd24e0e53dafbd4d
        git checkout FETCH_HEAD
        git am $GITHUB_WORKSPACE/patches/0001-Add-hacky-way-for-us-to-make-certain-camera-IDs-back.patch
        git am $GITHUB_WORKSPACE/patches/0001-Downgrade-compile-sdk-to-android-33.patch
        git fetch aosp refs/changes/89/2621689/1 && git cherry-pick FETCH_HEAD # Move CameraController to ResolutionSelector
        popd
        pushd prebuilts/fullsdk-linux/platforms
        git fetch --unshallow
        git checkout 9698c0ff01d4b3e24cab840903c06a282db785b3 android-33
        popd

    - name: Build
      working-directory: androidx-main/frameworks/support
      run: |
        rm -rf $GITHUB_WORKSPACE/.m2 || true
        ./gradlew \
          -Dmaven.repo.local=$GITHUB_WORKSPACE/.m2 \
          camera:camera-core:publishToMavenLocal \
          camera:camera-camera2:publishToMavenLocal \
          camera:camera-lifecycle:publishToMavenLocal \
          camera:camera-video:publishToMavenLocal \
          camera:camera-view:publishToMavenLocal \
          camera:camera-mlkit-vision:publishToMavenLocal \
          camera:camera-extensions:publishToMavenLocal

    - name: Commit changes
      run: |
        git add .m2
        git commit -m "Publish maven artifacts" || true

    - name: Push changes to repo
      uses: ad-m/github-push-action@master
      with:
        branch: ${{ github.ref }}
